openapi: 3.0.1
info:
  title: OpenAI Chat Completions (Cheeky OS v1.0)
  description: |
    Custom connector for Power Platform — OpenAI Chat Completions API.
    Use for intake quoting when `ct_intake_queue.ct_status = QUOTE_PENDING`.

    **Security:** Store the API key in the connection (never in YAML). Prefer a dedicated
    OpenAI project key with spend limits. Rotate if exposed.

    **Models:** `gpt-4o`, `gpt-4o-mini`, `gpt-4-turbo` (confirm availability in your org).

    **Structured output:** Set `response_format.type` to `json_object` and instruct the model
    to return only JSON (see CHEEKY_TEES_QUOTE_SYSTEM_PROMPT.md).
  version: "1.0.0"

servers:
  - url: https://api.openai.com

paths:
  /v1/chat/completions:
    post:
      summary: Create chat completion
      description: Send messages; use json_object response_format for machine-parseable quotes.
      operationId: CreateChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionResponse"
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "429":
          description: Rate limited

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OpenAI API key (Power Automate will send as `Authorization: Bearer <key>`)

  schemas:
    ChatCompletionRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          description: e.g. gpt-4o, gpt-4-turbo, gpt-4o-mini
          example: gpt-4o
        messages:
          type: array
          items:
            $ref: "#/components/schemas/ChatMessage"
        temperature:
          type: number
          format: float
          default: 0.2
        max_tokens:
          type: integer
          example: 4096
        response_format:
          type: object
          description: Use `{ "type": "json_object" }` for structured quotes
          properties:
            type:
              type: string
              enum: [json_object, text]

    ChatMessage:
      type: object
      required: [role, content]
      properties:
        role:
          type: string
          enum: [system, user, assistant, developer]
        content:
          type: string

    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                $ref: "#/components/schemas/ChatMessage"
              finish_reason:
                type: string
        usage:
          type: object
          properties:
            prompt_tokens:
              type: integer
            completion_tokens:
              type: integer
            total_tokens:
              type: integer

security:
  - BearerAuth: []
